extends layout

block content
	div#header-wrap
		img(src="images/dc_roasters_105x65_lt.png")
		if (!user)
			div.login-wrapper
				a.btn.btn-primary(href='/login') Login
				a.btn.btn-default(href='/register') Register
		if (user)
			div.login-wrapper
				p Congrats! Thanks for returning #{user.username}
				a(href='/logout')
	ul.navbar.nav-pills.nav-justified
		li.active(role='presentation')
			a(href='#') 1. Welcome
		li(role='presentation')
			a(href='#') 2. Options
		li(role='presentation')
			a(href='#') 3. Delivery
		li(role='presentation')
			a(href='#') 4. Payment
	div.hero.container
		div.hero-text.row
			h1 A better way to grind
			h3 Freshly Roasted coffee beans delivered weekly to your door.
	div#main-text
		h2 We Source coffee beans from around the World and roast them fresh daily
		p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industyr's standard dummy text since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularized in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
	h1 HOW IT WORKS
	h2 1. We get the coffee
		h3 Lorem Ispum is simply
		h3 Lorem Ispum is simply
		h3 Lorem Ispum is simply
	h2 2. We pick up the coffee
		h3 Lorem Ispum is simply
		h3 Lorem Ispum is simply
		h3 Lorem Ispum is simply
	h2 3. You drink the coffee
		h3 Lorem Ispum is simply
		h3 Lorem Ispum is simply
		h3 Lorem Ispum is simply
	a(href="/register")
		button.btn.btn-success.btn-lg Get Started