doctype html
html
	head
		title= title
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		|<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#header-wrap
			a(href="/")
				img(src="images/dc_roasters_105x65_lt.png")
			if (!user)
				.login-wrapper
					a.btn.btn-primary(href='/login') Login
					a.btn.btn-default(href='/register') Register
			if (user)
				.login-wrapper
					p Welcome, 
						a(href="/account") #{user}
					a.btn.btn-warning(href='/logout') Logout!
		if (active)
			#nav-wrap
				.container
					ul.signup-progress
						li(class=((active == "welcome") ? 'active' : ""))
							a(href='/').welcome 1. Welcome
						li(class=(active == "options") ? 'active' : "")
							a(href='/choices').options 2. Options
						li(class=(active == "delivery") ? 'active' : "")
							a(href='/delivery').delivery 3. Delivery
						li(class=(active == "payment") ? 'active' : "")
							a(href='/payment').payment 4. Payment
		block content
	footer
		#footer-wrap
			.top-wrap
				img(src="../images/dc_roasters_200x124_lt.png")
				.links
					.link
						a(href="/blog") blog
					.link.middle
						a(href="/contact") contact
					.link
						a(href="/suppliers") suppliers
			.trademarks
				.text-wrap
					.copyright &reg 2015 DC Coffee Roasters
					.links
						.link
							a(href='/terms') terms
						.link
							a(href='/privacy') privacy
				.commons-license
					.title Creative Commons images courtesy of:
					ul.contributors
						li.contributor david pacey
						li.contributor.middle dave bleasdale
						li.contributor.middle dennis tang
						li.contributor mahmoud99725
