/* line 3, ../../compass/sass/views/_login.scss */
#login-wrap form #btn-wrap {
  text-align: center;
  margin-bottom: 10px;
}
/* line 6, ../../compass/sass/views/_login.scss */
#login-wrap form #btn-wrap button {
  margin: 5px 5px;
}

/* line 2, ../../compass/sass/views/_register.scss */
#register-wrap #form-wrap {
  border: 2px solid #ada48d;
  padding: 35px 45px 0px;
  max-width: 400px;
  margin-bottom: 30px;
}
/* line 8, ../../compass/sass/views/_register.scss */
#register-wrap #form-wrap form #btn-wrap {
  text-align: center;
  margin-bottom: 10px;
}
/* line 11, ../../compass/sass/views/_register.scss */
#register-wrap #form-wrap form #btn-wrap button {
  margin: 5px 5px;
}

/* line 4, ../../compass/sass/views/_home.scss */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 9, ../../compass/sass/views/_home.scss */
body {
  background-color: #d8d3c8;
}
/* line 11, ../../compass/sass/views/_home.scss */
body .error {
  color: #dc0707;
}
/* line 14, ../../compass/sass/views/_home.scss */
body .container {
  padding-top: 90px;
}
/* line 17, ../../compass/sass/views/_home.scss */
body #header-wrap {
  width: 100%;
  padding: 0 7.5% 20px;
  margin: 0;
  background: #3a2f27;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#3a2f27, #58483c);
  /* Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#3a2f27, #58483c);
  /* For Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(#3a2f27, #58483c);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#3a2f27, #58483c);
  /* Standard syntax */
  border-bottom: 2px #a08855 solid;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
/* line 31, ../../compass/sass/views/_home.scss */
body #header-wrap .login-wrapper {
  margin: 25px 0px 0px;
  float: right;
}
/* line 33, ../../compass/sass/views/_home.scss */
body #header-wrap .login-wrapper a.btn {
  margin-left: 20px;
}
/* line 36, ../../compass/sass/views/_home.scss */
body #header-wrap .login-wrapper p {
  margin-top: 7px;
  margin-right: 10px;
  color: white;
  float: left;
}
/* line 41, ../../compass/sass/views/_home.scss */
body #header-wrap .login-wrapper p a {
  color: #c2bcab;
}
/* line 48, ../../compass/sass/views/_home.scss */
body #nav-wrap {
  background-color: #3a2f27;
  border-bottom: 2px #a08855 solid;
  overflow: hidden;
}
/* line 52, ../../compass/sass/views/_home.scss */
body #nav-wrap .signup-progress {
  margin: 5px 30px;
  padding: 0;
  overflow: hidden;
  background: #493b31;
  border-radius: 10px;
}
/* line 58, ../../compass/sass/views/_home.scss */
body #nav-wrap .signup-progress li {
  float: left;
  width: 25%;
  padding: 5px;
}
/* line 62, ../../compass/sass/views/_home.scss */
body #nav-wrap .signup-progress li a {
  color: #776050;
  font-weight: 700;
  background: url('../images/menu-steps.png?1441679937') no-repeat;
  background-size: 35px, auto;
  height: 30px;
  padding: 5px 0 0 40px;
  display: block;
  overflow: hidden;
}
/* line 74, ../../compass/sass/views/_home.scss */
body #nav-wrap .signup-progress li.active a {
  color: #fff;
  background-image: url('../images/menu-steps-active.png?1441679937');
}
/* line 79, ../../compass/sass/views/_home.scss */
body #nav-wrap .signup-progress li .welcome {
  background-position: 0 0;
}
/* line 80, ../../compass/sass/views/_home.scss */
body #nav-wrap .signup-progress li .options {
  background-position: 0 -30px;
}
/* line 81, ../../compass/sass/views/_home.scss */
body #nav-wrap .signup-progress li .delivery {
  background-position: 0 -60px;
}
/* line 82, ../../compass/sass/views/_home.scss */
body #nav-wrap .signup-progress li .payment {
  background-position: 0 -90px;
}
/* line 90, ../../compass/sass/views/_home.scss */
body .hero {
  width: 100%;
  height: 485px;
  color: white;
  background-image: url("../images/CupInBeans.jpg");
  background-position: left center;
  border-bottom: 2px solid #c2bcab;
}
/* line 97, ../../compass/sass/views/_home.scss */
body .hero .hero-text {
  color: white;
  width: 48%;
  padding-left: 11%;
  padding-top: 7%;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
}
/* line 103, ../../compass/sass/views/_home.scss */
body .hero .hero-text h1 {
  font-size: 70px;
}
/* line 106, ../../compass/sass/views/_home.scss */
body .hero .hero-text p {
  font-size: 40px;
}
/* line 112, ../../compass/sass/views/_home.scss */
body #main-text {
  border: 2px solid #b8b09c;
  background-color: #edebe6;
  border-radius: 10px;
  width: 60%;
  margin: 60px auto 0px;
  padding: 25px;
}
/* line 119, ../../compass/sass/views/_home.scss */
body #main-text h2 {
  font-size: 40px;
}
/* line 122, ../../compass/sass/views/_home.scss */
body #main-text p {
  font-size: 20px;
}
/* line 127, ../../compass/sass/views/_home.scss */
body .how-label {
  text-align: center;
  font-size: 40px;
}
/* line 131, ../../compass/sass/views/_home.scss */
body .text-wrap {
  width: 40%;
  position: relative;
  top: 30%;
}
/* line 135, ../../compass/sass/views/_home.scss */
body .text-wrap.left {
  left: 11%;
}
/* line 138, ../../compass/sass/views/_home.scss */
body .text-wrap.right {
  right: 11%;
}
/* line 141, ../../compass/sass/views/_home.scss */
body .text-wrap h3 {
  font-weight: bold;
  font-size: 65px;
  padding-bottom: 33px;
  margin: 0;
}
/* line 147, ../../compass/sass/views/_home.scss */
body .text-wrap p {
  font-size: 20px;
  padding-top: 7px;
  padding-left: 80px;
}
/* line 153, ../../compass/sass/views/_home.scss */
body #first-step {
  position: relative;
  background-image: url("../images/CoffeeBags.jpg");
  background-repeat: repeat-y;
  background-position: left bottom;
  height: 500px;
  color: white;
}
/* line 163, ../../compass/sass/views/_home.scss */
body #second-step {
  position: relative;
  background-image: url("../images/canvas.jpg");
  color: #3a2f27;
  padding: 90px 60px 60px;
  overflow: hidden;
}
/* line 169, ../../compass/sass/views/_home.scss */
body #second-step #postcard {
  border: 15px solid #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  margin-left: 10%;
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  float: left;
}
/* line 175, ../../compass/sass/views/_home.scss */
body #second-step #postcard img {
  border: 2px solid #a08855;
  display: block;
  max-width: 100%;
}
/* line 181, ../../compass/sass/views/_home.scss */
body #second-step .text-wrap {
  float: right;
  position: relative;
  top: 30%;
  right: 11%;
}
/* line 191, ../../compass/sass/views/_home.scss */
body #third-step {
  position: relative;
  background-image: url("../images/cupSteam.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-position: right center;
  color: white;
  height: 400px;
}
/* line 200, ../../compass/sass/views/_home.scss */
body .register-wrap {
  text-align: center;
  padding: 50px;
}
/* line 204, ../../compass/sass/views/_home.scss */
body .register-wrap a button.btn.btn-success {
  background-color: #196D46;
  border: 1px solid #294741;
  padding: 20px 70px;
  font-size: 30px;
}
/* line 209, ../../compass/sass/views/_home.scss */
body .register-wrap a button.btn.btn-success:hover {
  background-color: #294741;
}
/* line 215, ../../compass/sass/views/_home.scss */
body #footer-wrap {
  background-color: #3a2f27;
  padding: 50px 0px;
  text-align: center;
  margin: auto;
  color: #776050;
}
/* line 221, ../../compass/sass/views/_home.scss */
body #footer-wrap .links {
  overflow: hidden;
  text-align: center;
  margin: 10px 0;
  font-size: 15px;
  width: 225px;
  margin: auto;
}
/* line 228, ../../compass/sass/views/_home.scss */
body #footer-wrap .links .link {
  color: white;
  float: left;
  width: 33%;
}
/* line 235, ../../compass/sass/views/_home.scss */
body #footer-wrap .top-wrap {
  margin: auto;
  border-bottom: 2px solid #776050;
  width: 50%;
  padding-bottom: 60px;
}
/* line 240, ../../compass/sass/views/_home.scss */
body #footer-wrap .top-wrap img {
  width: 250px;
}
/* line 243, ../../compass/sass/views/_home.scss */
body #footer-wrap .top-wrap .links {
  text-align: left;
  padding-top: 30px;
  font-size: 16px;
}
/* line 249, ../../compass/sass/views/_home.scss */
body #footer-wrap a {
  color: white;
}
/* line 252, ../../compass/sass/views/_home.scss */
body #footer-wrap .trademarks {
  margin: auto;
  width: 100%;
}
/* line 255, ../../compass/sass/views/_home.scss */
body #footer-wrap .trademarks .text-wrap {
  margin: auto;
  text-align: center;
  padding-top: 55px;
}
/* line 259, ../../compass/sass/views/_home.scss */
body #footer-wrap .trademarks .text-wrap .copyright {
  color: #fff;
}
/* line 262, ../../compass/sass/views/_home.scss */
body #footer-wrap .trademarks .text-wrap .links {
  border: none;
  width: 125px;
  padding-bottom: 35px;
}
/* line 266, ../../compass/sass/views/_home.scss */
body #footer-wrap .trademarks .text-wrap .links .link {
  width: 50%;
}
/* line 275, ../../compass/sass/views/_home.scss */
body #footer-wrap .trademarks .commons-license .contributors {
  margin: auto;
  overflow: hidden;
  width: 30%;
}
/* line 279, ../../compass/sass/views/_home.scss */
body #footer-wrap .trademarks .commons-license .contributors .contributor {
  float: left;
  width: 25%;
  list-style: none;
}

/* line 2, ../../compass/sass/views/_choices.scss */
#choices.container {
  padding-top: 0;
}
/* line 5, ../../compass/sass/views/_choices.scss */
#choices #plan-wrapper {
  margin-top: 60px;
  text-align: center;
}
/* line 9, ../../compass/sass/views/_choices.scss */
#choices #plan-wrapper #choices-header {
  margin: 0 0 0px;
  font-size: 32px;
  line-height: 1.2;
}
/* line 14, ../../compass/sass/views/_choices.scss */
#choices #plan-wrapper #choices-subheader {
  margin: 0;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
}
/* line 21, ../../compass/sass/views/_choices.scss */
#choices #plan-wrapper .choices-image img {
  max-width: 100%;
}
/* line 25, ../../compass/sass/views/_choices.scss */
#choices #plan-wrapper .choice-block {
  border: 2px solid #ada48d;
  border-radius: 5px;
  margin: 30px auto;
  padding: 30px;
}
/* line 30, ../../compass/sass/views/_choices.scss */
#choices #plan-wrapper .choice-block .choices-text {
  text-align: left;
}
/* line 34, ../../compass/sass/views/_choices.scss */
#choices #plan-wrapper .submit-btn-wrap {
  margin-bottom: 70px;
}

/* line 9, ../../compass/sass/views/_delivery.scss */
#delivery #delivery-wrapper #input-wrap {
  border: 2px solid #ada48d;
  border-radius: 5px;
  padding: 35px 30px 40px;
}
/* line 13, ../../compass/sass/views/_delivery.scss */
#delivery #delivery-wrapper #input-wrap .form-control {
  width: 50%;
}
/* line 15, ../../compass/sass/views/_delivery.scss */
#delivery #delivery-wrapper #input-wrap .form-control.short {
  width: 10%;
}
/* line 20, ../../compass/sass/views/_delivery.scss */
#delivery #delivery-wrapper #submit-btn-wrap {
  margin-top: 25px;
  margin-bottom: 70px;
}

/* line 3, ../../compass/sass/views/_payment.scss */
#payment #payment-wrap h1 {
  margin: 60px 0px 35px;
}
/* line 6, ../../compass/sass/views/_payment.scss */
#payment #payment-wrap #information-wrap {
  border: 2px solid #ada48d;
  border-radius: 5px;
  padding: 35px 45px 40px;
}
/* line 12, ../../compass/sass/views/_payment.scss */
#payment #payment-wrap #information-wrap .section-wrap .section-header-wrap h2 {
  float: left;
  font-weight: 700;
}
/* line 16, ../../compass/sass/views/_payment.scss */
#payment #payment-wrap #information-wrap .section-wrap .section-header-wrap a {
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  font-weight: 600;
}
/* line 23, ../../compass/sass/views/_payment.scss */
#payment #payment-wrap #information-wrap .section-wrap .choice {
  overflow: hidden;
}
/* line 25, ../../compass/sass/views/_payment.scss */
#payment #payment-wrap #information-wrap .section-wrap .choice p {
  font-size: 14px;
  font-weight: 600;
  padding-left: 0px;
  margin-bottom: 2px;
}
/* line 31, ../../compass/sass/views/_payment.scss */
#payment #payment-wrap #information-wrap .section-wrap .choice.delivery {
  margin-top: 35px;
}
/* line 38, ../../compass/sass/views/_payment.scss */
#payment #payment-wrap #btn-wrap {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 60px;
}

/* line 3, ../../compass/sass/views/_account.scss */
#account #account-wrapper h1 {
  margin: 60px 0px 35px;
}
/* line 6, ../../compass/sass/views/_account.scss */
#account #account-wrapper #information-wrap {
  border: 2px solid #ada48d;
  border-radius: 5px;
  padding: 35px 45px 40px;
}
/* line 12, ../../compass/sass/views/_account.scss */
#account #account-wrapper #information-wrap .section-wrap .section-header-wrap h2 {
  float: left;
  font-weight: 700;
}
/* line 16, ../../compass/sass/views/_account.scss */
#account #account-wrapper #information-wrap .section-wrap .section-header-wrap a {
  float: left;
  margin-top: 30px;
  margin-left: 20px;
  font-weight: 600;
}
/* line 23, ../../compass/sass/views/_account.scss */
#account #account-wrapper #information-wrap .section-wrap .choice {
  overflow: hidden;
}
/* line 25, ../../compass/sass/views/_account.scss */
#account #account-wrapper #information-wrap .section-wrap .choice p {
  font-size: 14px;
  font-weight: 600;
  padding-left: 0px;
  margin-bottom: 2px;
}
/* line 31, ../../compass/sass/views/_account.scss */
#account #account-wrapper #information-wrap .section-wrap .choice.delivery {
  margin-top: 35px;
}
/* line 38, ../../compass/sass/views/_account.scss */
#account #account-wrapper #btn-wrap {
  text-align: center;
  margin-top: 45px;
  margin-bottom: 60px;
}
